*{
  /* border: 1px solid gold */
}
body{
  display: flex;
  /* flex-direction: column; */
  background-attachment: fixed;
  background-position: center;
  background-image: url("https://ww2.kqed.org/app/uploads/sites/43/2019/12/many-old-books-stacked-in-texture-picture-id1074590734-1020x574.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 100px;
  justify-content: center;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}
.container{
  display: flex;
  margin-left: 0 auto;
}

.search-box{
  margin: 20% 26%;
  /* width: auto; */
  display: inline-flex;
  background: rgba(150, 201, 170, 0.7);
  padding: 20px;
  border-radius: .5em;
  /* overflow: auto; */
}
#input{
  font-size: 25px;
}

#modal{
	background-color: rgba(156, 203, 247, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
  display: none;
  overflow: auto;
}
#modal-textbox{
  background-color: rgba(156, 203, 247);
  height: auto;
  width: 550px;
  margin: 150px auto;
  border-radius: 1em;
  padding: 2%;
}
#modal-footer{
  padding: 2%;
  line-height: 120%;
  text-align: right;
}
#close{
  margin-left: 85%;
}

#openModal{
  font-size: 25px;
}
@media (max-width: 500px) {
  body{
    background-repeat: repeat-y;
    background-size: auto;
    background-image: url("https://ww2.kqed.org/app/uploads/sites/43/2019/12/many-old-books-stacked-in-texture-picture-id1074590734-1020x574.jpg");
    /* background: rgba(150, 201, 170, 0.7); */
    margin-top: 300px;
  }
  #modal{
    background: rgba(150, 201, 170, 0.3)
  }
  #input{
    font-size: 1em
  }
  #openModal{
    font-size: 1em;
    margin: 0 auto;
  }
  .search-box{
    font-size: 1em;
    margin: 0 auto;
    width: auto;
  }
  #modal-textbox{
    width: 250px;
  }
  #close{
    margin-left: 80%
  }
}
